<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Моя семья{% endblock %}</title>
</head>
<body>
{% block content %}
    <header>
        <h1>Я шапка!</h1>
    </header>
{% endblock %}

{% block content %}
    <menu>
        <ln>
            <a href="">это Одежда!</a>
            <a href="">это Обувь!</a>
            <a href="">это Куртка!</a>
        </ln>
    </menu>
{% endblock %}

{% block content %}
    <footer>
        <h4>Я подвал!</h4>
    </footer>
{% endblock %}

</body>
</html>