<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Моя семья{% endblock %}</title>
</head>
<body>
{% block header %}
<header>
    <h1>Я шапка!</h1>
</header>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{{url_for('wares')}}">это Меню!</a></li>
        <li><a href="{{url_for('clothes')}}">это Одежда!</a></li>
        <li><a href="{{url_for('boots')}}">это Обувь!</a></li>
        <li><a href="{{url_for('curtco')}}">это Куртка!</a></li>
    </ul>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer>
    <h4>Я подвал!</h4>
</footer>
{% endblock %}

</body>
</html>